.error404 {
  .page-title {
    margin-top: 4rem;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1rem;
    font-size: 38px;
  }
  .site-main {
    margin-left: 11rem;
    margin-right: 4rem;
  }
  .entry-summary p {
    width: 100%;
  }
  #post-162 {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: inherit;
  }
  .entry-header {
    margin-top: 0rem;
    display: unset;
  }
  .widget_recent_entries ul,
  a,
  .widget-title ul,
  li,
  a {
    list-style-type: none;
    text-decoration: none;
  }
}
.error404 {
  .widget_recent_entries ul li a {
    margin-left: -5.5rem;
  }
}
.widget_categories {
  .cat-item a {
    margin-left: -5.5rem;
  }
}

#archives-dropdown--1 {
  font-family: 'Novecento Sans Web', sans-serif;
}
