.page {
  .entry-title {
    color: #a1a1a1;
    font-family: 'Novecento Sans Web', sans-serif;
    letter-spacing: 2px;
    font-size: 2.4rem;
  }
}

.page {
  .entry-content {
    margin-top: 1rem;
  }
}

.about-page {
  .entry-title {
    color: green;
  }
}
