.page {
  .entry-title {
    color: #404040;
    font-family: 'Novecento Sans Web', sans-serif;
    letter-spacing: 2px;
    font-size: 2.4rem;
    width: 73%;
  }
}
.page-id-50 {
  .icon-search {
    color: $color__main-green;
  }
}

.page {
  .entry-content {
    margin-top: 1rem;
  }
}
.page {
  .entry-content {
    h2 {
      font-size: 2.1rem;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.about-page {
  .entry-title {
    color: green;
  }
}
