.logo-full {
  position: absolute;
  margin: -45% 40%;
}
.home-hero2 img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4)),
    #969696;
  // url(../images/home-hero.jpg);
}

.site-header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.85);
  border-bottom: 1px solid #e1e1e1;
  padding: 0.5rem 0;
  z-index: 3;
  height: 3rem;
  justify-content: flex-end;
}
