.search-results {
  .fa-search {
    color: #248a83;
  }
  .page-title {
    margin-top: 4rem;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1rem;
    font-size: 38px;
  }
  .site-main {
    margin-left: 11rem;
    margin-right: 4rem;
  }
  .entry-summary p {
    width: 100%;
  }
  .entry-title {
    font-size: 1.5rem;
    text-decoration: none;
  }
  article {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: inherit;
  }
  .entry-header {
    margin-top: 0rem;
    display: unset;
    a {
      text-decoration: none;
    }
  }
}
.search-no-results {
  .page-content p {
    display: flex;
    text-align: center;
    margin-left: 11rem;
    margin-right: 4rem;
    margin-top: 4rem;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1rem;
    font-size: 24px;
  }
  .fa-search {
    color: #248a83;
    font-size: 20px;
  }
  .search-form {
    display: flex;
    justify-content: center;
  }
  input[type='search'],
  input[type='input'] {
    border: solid 1px grey;
    border-radius: 3rem;
  }
}
