.single-product-article {
  display: flex;
  max-width: 1120px;
  margin: auto;
  padding-top: 3rem;

  .left-column {
    width: 50%;
    padding-right: 1rem;
    margin-top: 2rem;
  }
  .right-column {
    width: 50%;
    padding-left: 1rem;
    margin-top: 2rem;
  }
}

.single-product {
  .entry-header {
    margin-top: 3rem;
    justify-content: start;

    .site-header {
      position: unset;
    }
  }
}

.single-single-picture {
  padding-bottom: 1rem;
  width: 495px;
}

.single-single-title {
  .entry-title {
    color: #d99054;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.single-single-price {
  h2 {
    font-size: 28.8px;
    font-weight: normal;
    margin: 0;
  }
}

.entry-content-single-single {
  display: flex;
  line-height: 1.75;
  text-align: inherit;
  width: 30rem;
}
.black-btn {
  border: 1px solid #000;
  color: #000;
  bottom: 0;
  background-color: transparent;
  margin-bottom: 2rem;

  &:hover {
    background: #248a83;
    color: white;
  }
}

.single-product {
  .site-header {
    // padding-top: 3rem;
    // position: unset;
  }
}
