.page-header-do-wear-sleep {
  .page-title,
  .taxonomy-description {
    display: flex;
    justify-content: center;
  }
  .taxonomy-description {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 1.5rem;
  }
}

.archive {
  .site-header {
    position: unset;
  }
}
