.page-header-do-wear-sleep {
  .page-title,
  .taxonomy-description {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }
  .taxonomy-description {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 1.5rem;
  }
}

.archive {
  .product-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-grid-item {
    border: 1px solid #e1e1e1;
    height: 300px;
  }
}
.page-header-do-wear-sleep {
  .page-title {
    padding-top: 4rem;
  }
}
