.entry-header {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.boss-green {
  position: relative;
  line-height: 0;
}

.entry-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  line-height: 1.75;
}

.blog,
.single-post {
  .entry-title {
    position: absolute;
    background: #248a83;
    color: white;
    font-size: 2.1rem;
    margin-top: 2rem;
    width: 34rem;
    padding: 0.75rem 1.5rem;
    line-height: 2.5rem;
  }
}
.single-post {
  .entry-meta {
    font-family: 'Novecento Sans Web', sans-serif;
    position: absolute;
    background: #248a83;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    bottom: 0;
    right: 0;
  }
}

.blog {
  .entry-meta {
    font-family: 'Novecento Sans Web', sans-serif;
    position: absolute;
    background: #248a83;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    right: 0;
    bottom: 0;
  }
}
.blog {
  .entry-title {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.comments-link a {
  color: white;
  text-decoration-line: none;
}

.entry-footer {
  text-transform: uppercase;
  display: flex;
  padding-left: 8.5rem;
}
.cat-links {
  margin-right: 2rem;
}
.blog,
.single-post {
  .wp-post-image {
    width: 791px;
  }
}
