/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}
//THIS IS THE SIDEBAR

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'journal-selection journal-selection journal-selection Sidebar-uni' 'journal-selection journal-selection journal-selection Sidebar-uni' 'journal-selection journal-selection journal-selection Sidebar-uni';
}

.journal-selection {
  grid-area: journal-selection;
}

.sidebar-uni {
  grid-area: Sidebar-uni;
  //   border: solid grey;
  // display: flex;
  // text-align: center;
}
.widget-area {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#custom_html-2 {
  text-align: initial;
  padding-left: 2.5em;
}

.fa-phone-alt a {
  //   color: #248a83;
}
.a-sidebar a {
  color: black;
  font-style: normal;
}

#archives-2 {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

#archives-2 h2 {
  padding-left: 2.5rem;
}

#archives-2 a {
  text-decoration: none;
  //   color: #248a83;
}
#archives-2 ul {
  list-style: none;
  margin: 0;
}

//THIS IS THE SIDEBAR-FIN US GOOGLE MAPS

.sidebar-uni {
  //   grid-area: b;
  border-left: 1px solid #a1a1a1;
  margin-top: 5rem;
}
// .widget-area {
//   padding-top: 3rem;
// }

//THIS IS THE CONTACT FORM
.wpcf7-form {
  text-transform: uppercase;
}

input {
  line-height: 1.75;
}
input[type='email'],
input[type='password'],
input[type='search'],
input[type='text'],
input[type='url'],
textarea {
  padding: 0.3rem;
  color: #666;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  border-radius: 0;
}

input[type='submit'] {
  background: #248a83;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0px;
  font-size: 16px;
}
